<%- include('partials/head')%>
<%- include('partials/navbar')%>
<div class="cart p-5">
  <h1 class="text-center">Your Cart</h1>

  <div class="cart__content">
    <div class="container-fluid my-5">
      <div class="row">
        <div class="col-md-8">
          <div class="cart__header">
            <h5>items</h5>
          </div>
          <div class="cart__products-wrapper">
            <div class="cart__product">
              <img class="product__image" src="./img/kobe4.jpg">
              <div class="product__description">
                <h2>Kobe 4</h2>
              </div>
              <div class="product__description">
                <h2>$200.00</h2>
              </div>
            </div>
            <div class="cart__product">
              <img class="product__image" src="./img/kobe6.jpg">
              <div class="product__description">
                <h2>Kobe 6</h2>
              </div>
              <div class="product__description">
                <h2>$400.00</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="subtotal">
            <h1>Order Summary</h1>
            <div class="subtotal__subtotal">
              <span>Subtotal(2)</span>
              <span>$ 600.00</span>
            </div>
            <div class="subtotal__shippingfee">
              <span>Shipping Fee</span>
              <span>$ 29.00</span>
            </div>
            <div class="subtotal__total">
              <span>Total</span>
              <span>$ 629.00</span>
            </div>
            <div class="subtotal__checkout">
              <a href="/checkout">
                <button class="btn btn-block btn-primary">Checkout</button>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer')%>