<%- include('partials/head')%>
<%- include('partials/navbar')%>

<div class="checkout">
  <div class="checkout__content">
    <h1 class="text-center">Checkout Confirm</h1>
    <div class="checkout__item-wrapper">
      <div class="checkout__item">
        <img src="./img/kobe4.jpg" alt="" class="checkout__item-image">
        <div class="checkout__item-description">
          <h1>Kobe 4</h1>
        </div>
        <div class="checkout__item-description">
          <h1>$200</h1>
        </div>
      </div>
      <div class="checkout__item">
        <img src="./img/kobe6.jpg" alt="" class="checkout__item-image">
        <div class="checkout__item-description">
          <h1>Kobe 6</h1>
        </div>
        <div class="checkout__item-description">
          <h1>$400</h1>
        </div>
      </div>
    </div>
    <div class="checkout__subtotal">
      <h1>Subtotal : $600</h1>
    </div>
    <div class="checkout__confirm">
      <a href="/userinfo">
        <button class="btn btn-block btn-primary">Confirm Purchase</button>
      </a>
      
    </div>
  </div>
</div>

<%- include('partials/footer')%>