<%- include('partials/head')%>
<%- include('partials/navbar')%>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-light">OL Shop</h1>
      <p class="lead text-light">One Stop Shop for All the Sneaker Heads</p>
      <button class="btn btn-light">Shop Now</button>
    </div>
</div>

<div class="products__section container-fluid">
    <h1 class="text-center">Our Products</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img/kobe2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Kobe 2</h5>
                  <p class="card-text">$300.00</p>
                  <button class="btn btn-primary">Add To Cart</button>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img/kobe4.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Kobe 4</h5>
                  <p class="card-text">$300.00</p>
                  <button class="btn btn-primary">Add To Cart</button>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img/kobe1.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Kobe 1</h5>
                  <p class="card-text">$200.00</p>
                  <button class="btn btn-primary">Add To Cart</button>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img/kobe6.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Kobe 6</h5>
                  <p class="card-text">$300.00</p>
                  <button class="btn btn-primary">Add To Cart</button>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img/kobe8.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Kobe 8</h5>
                  <p class="card-text">$300.00</p>
                  <button class="btn btn-primary">Add To Cart</button>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img/kobe10.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Kobe 10</h5>
                  <p class="card-text">$200.00</p>
                  <button class="btn btn-primary">Add To Cart</button>
                </div>
              </div>
        </div>
        
    </div>
</div>
<div class="cart p-5" id="cart">
  <h1 class="text-center">Your Cart</h1>

  <div class="cart__content">
    <div class="container-fluid my-5">
      <div class="row">
        <div class="col-md-8">
          <div class="cart__header">
            <h5>items</h5>
          </div>
          <div class="cart__products-wrapper">
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="subtotal">
            <h1>Order Summary</h1>
            <div class="subtotal__subtotal">
              <span class="subtotal__itemCount">Subtotal(0)</span>
              <span>$ 0</span>
            </div>
            <div class="subtotal__total">
              <span>Total</span>
              <span class="subtotal__totalPrice">$ 0</span>
            </div>
            <div class="subtotal__info">
              <h1>Your Info</h1>




              <form method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                  <label for="inputName">Name</label>
                  <input type="text" class="form-control" id="inputName" placeholder="Name" name="name">
                </div>
                <div class="form-group">
                  <label for="strAddress">Street Address</label>
                  <input type="text" class="form-control" id="strAddress" placeholder="Street Address" name="address">
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" placeholder="City" name="city">
                </div>
                <div class="form-group">
                  <label for="postal">Postal Code</label>
                  <input type="text" class="form-control" id="postal" placeholder="Postal Code" name="postal">
                </div>
                <div class="form-group">
                  <label for="ItemCount">Item Count</label>
                  <input type="text" class="form-control subtotal-form" id="ItemCount" placeholder="Item Count" name="itemcount" >
                </div>
                <div class="form-group">
                  <label for="total">Total</label>
                  <input type="text" class="form-control subtotal-totalForm" id="Total" placeholder="total" name="total">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Check Out</button>
              </form>
            </div>
          </div>
       
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer')%>