
.jumbotron{
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("../img/j1.jfif");
    background-size: cover;
}



.products__section{
    margin:50px 0px;
    padding: 50px;

}

.card{
    margin:0 auto;
    margin-top:60px;
    text-align: center;
}


.cart__content{
    padding: 50px 100px;
}
.cart__header{
    background:#EFF0F5;
    padding:10px 25px;
    width: 100%;
}
.cart__products-wrapper{
    display:flex;
    flex-direction: column;
    padding: 20px 0px;
}

.cart__product{
    display:flex;
    flex-direction:row;
    background:#EFF0F5;
    padding:15px;
}

.cart-quantity{
    margin-left: 20px;
    height: 50px;
    width: 200px;
    display:flex;
    flex-direction: row;
    
}

.cart-quantity > input{
    width: 40px;
}




.product__image{
    width: 150px;
}

.product__description{
    margin-left:60px;
}

.subtotal{
    background:#EFF0F5;
    padding:25px;
    min-height: 275px;
}

.subtotal__subtotal,.subtotal__shippingfee,.subtotal__total{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    margin:10px 0px;
}



.checkout{
    display:grid;
    place-items: center;
    height: 90vh;
}

.checkout__content{
    padding:30px;
    background:#EFF0F5;
    height: 700px;
    width: 700px;
}

.checkout__item-wrapper{
    display:flex;
    flex-direction: column;
    padding: 30px 0px;
    height: 500px;
}

.checkout__item{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.checkout__item-image{
    width: 150px;
}


.info{
    display:grid;
    place-items: center;
    height: 90vh;
}

.info-content{
    padding:25px;
    width: 700px;
    height: 700px;
    background:#EFF0F5;
}
